

.container{
    display: flex;
  border: 2px solid;
  gap: 20px;
  height: 100vh;
  overflow: scroll;
}
h2{
    border: 2px solid red;
    background-color: yellow;
}
.hildOne{
    flex: 1;
    border: 2px solid;
}
.childTwo{
    flex: 1;
    
    
}